*
{
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

body 
{
  height: 99.5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
#main
{
  /* width: 25vw;
  height: 70vh; */
  /* border: white 1px solid ; */
  /* From https://css.glass */
/* From https://css.glass */
background: rgba(255, 255, 255, 0.38);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7px);
-webkit-backdrop-filter: blur(7px);
}

@media not all and (min-width: 1280px) {
  body 
  {
    height: 85vh;
  }
}

@media not all and (min-width: 1024px) {
  body 
  {
    height: 90vh;
  }
}

@media not all and (min-width: 640px) {
  body 
  {
    height: 85vh;
  }
}
